@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg);
  color: var(--soft-blue);
  font-family: "Outfit";
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.container {
  padding: 1.5rem;
  background-color: var(--card-bg);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.container .equilibrium {
  position: relative;
}

.container .equilibrium .view {
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  background-color: hsl(178, 100%, 50%, 50%);
  width: 100%;
  height: calc(100% - 4px);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.container .equilibrium div:hover {
  opacity: 1;
  cursor: pointer;
}

.container .equilibrium div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0.5rem 1.5rem 0;
  color: var(--white);
}

.container h2:hover {
  color: var(--cyan);
  cursor: pointer;
}

p {
  font-weight: 300;
}

ul {
  list-style-type: none;
}

.container ul {
  padding: 1.5rem 0;
  display: flex;
  border-bottom: 0.1rem solid var(--line);
  align-items: center;
  justify-content: space-between;
}

.container ul li {
  display: flex;
  align-items: center;
}

.container ul li img {
  margin-right: 0.5rem;
}

.container ul .ethereum {
  color: var(--cyan);
}

.container .avatar {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.container .avatar img {
  margin-right: 1.5rem;
  width: 2.5rem;
  border: 0.1rem solid var(--white);
  border-radius: 50%;
}

.container .avatar p span {
  font-weight: 400;
  color: var(--white);
}

.container .avatar p span:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  .container {
    width: 25rem;
    margin: 0 auto 1.5rem;
  }
}
